<nav>
    <ul>
        <li><a href="/" style="float: left; margin-right:10px; list-style: none;">메인 페이지</a></li>
        <li><a href="/write" style="float: left; margin-right:10px; list-style: none;">글쓰기 페이지</a></li>
        <li><a href="/mypage" style="float: left; margin-right:10px; list-style: none;">마이페이지</a></li>
    </ul>
</nav>