<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .posting{
            border: 1px solid black;
            margin-top: 1pc;
            border-radius: 10px;
        }
    </style>
</head>
<body>

    <div style="height: 3em; border: 1px solid black; position: relative; border-radius: 10px;">
        <a href="/" style="position:absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-decoration: none; color: black; font-size: large; font-weight: 1000;">SKWON</a>
        <a href="/sign" style="float: right; margin:10px; text-decoration: none; color: black;">로그인 페이지</a>
    </div>


    <% for(var i = 0; i < 3; i++ ){ %>
        <div class="posting">
            <h2><%= data[i].title %></h2>
            <p><%= data[i].content %></p>
            <p><%= data[i].date %></p>
        </div>
    <% } %>
</body>
</html>