<nav>
    <ul>
        <li style="float: left; margin-right:10px; list-style: none;"><a href="/">메인페이지</a></li>
        <li style="float: left; margin-right:10px; list-style: none;"><a href="/sign">로그인 페이지</a></li>   
    </ul>
</nav>