<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/signin" method="POST">
            <input type="email" name="SIGNIN_EMAIL"><br>
            <input type="password" name="SIGNIN_PASS"><br>
            <button type="submit">LOGIN</button>
        </form>
    </div>

    <div>
        <form action="/signup" method="POST">
            <input type="text" name="SIGNUP_NAME"><br>
            <input type="email" name="SIGNUP_EMAIL"><br>
            <input type="password" name="SIGNUP_PASS"><br>
            <button type="submit">SIGN UP</button>
        </form>
    </div>
</body>
</html>